<h3>New Category</h3>

<form id="new-category" name="post">
  <div class="field">
    <label for="name"> Name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Add Category" />
  </div>

</form>