<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	We are a team of three Stanford Computer Science majors who want to make the experience 
	of watching videos more social and interesting. 
</p>
<p>
	<b>Anthony Dao</b> is a senior specializing in information.
	<br/>
	<b>Chamal Samaranayake</b> is a senior specializing in human-computer interaction.
	<br/>
	<b>Calvin Tuong</b> is a junior specializing in computer systems.
</p>