<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <b>Anthony Dao</b> - haidao (at) stanford
  <br/>
  <b>Chamal Samaranayake</b> - chamals (at) stanford
  <br/>
  <b>Calvin Tuong</b> - ctuong (at) stanford
</p>