<div class="center hero-unit">
  <h1>Welcome to Social Playlists</h1>

  <h2>
    This is the temporary home page for the Social Playlists CS194 project.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="image-thumbnail">
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</div>

<%= render :partial => 'shared/show_playlist_scroll', :locals => {:playlist => Playlist.find(1)} %>
