<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="user-playlists">
	<h3>Playlists</h3>
	<% if @user.playlists.any? then %>

	<% else %>
		You don't currently have any playlists.
	<% end %>
</div>