<% provide(:title, "Watch") %>
<div id="watch-root">
  <div id="player-container">
		<div id="video-player">
		</div>
		<% if current_user then %>
			<div id="vote-buttons">
				<input id="video-upvote-button" class="btn" type="button" value="Upvote"/>
				<input id="video-downvote-button" class="btn" type="button"/>
			</div>
		<% end %>
	</div>
	<div id="tabs-container">
		<ul>
			<li><a href="#playlists-container"><span>Playlists</span></a></li>
			<li><a href="#video-comments-container"><span>Comments</span></a></li>
			<li><a href="#playlist-info-container"></span>Info</span></a></li>
		</ul>
		<div id="playlists-container">
		  <div id="category-container">
		    <table>
		      <tr id="category-header">
		        <td id="category-nav-left">&lt;</td>
		        <td id="category-title"></td>
		        <td id="category-nav-right">&gt;</td>
		      </tr>
		    </table>
		  </div>
			<div id="playlist-results">
			</div>
		</div>
		<div id="video-comments-container">
			<div id="video-comments">
			</div>
			<% if current_user then %>
				<div id="new-video-comment">
					<input id="new-comment-input" type="text" placeholder="Write a comment..." />
				</div>
			<% end %>
		</div>
		<div id="playlist-info-container">
			<div id="playlist-description-container">
				Description:
				<div id="playlist-description"><%= @playlist.description %></div>
			</div>
			<div id="playlist-ratings-container">
				Ratings:
				<div id="playlist-ratings"></div>
				<% if current_user then %>
					<div id="new-playlist-rating">
						<form action="javascript:submitRating()">
							<select id='playlist-rating-rating' name="playlist-rating-rating">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<textarea id="playlist-rating-comment" rows="3" cols="10">
							</textarea>
							<input type="submit" value="New Rating" />
						</form>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div id="playlist-container">
	  <div id="video-results-container">
	    <div id="video-results">
  		</div>
	  </div>
	</div>
</div>

<script>
  // Taken from https://developers.google.com/youtube/player_parameters
	// Load the IFrame Player API code asynchronously.
	/*
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/player_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	*/

	// Replace the 'video-player' element with an <iframe> and
	// YouTube player after the API code downloads.
	function onYouTubePlayerAPIReady() {
	  player = new YT.Player('video-player', {
	    height: '390',
	    width: '640',
	    videoId: '<%= @video.site_code %>',
	    playerVars: {'autoplay': '1', 'enablejsapi': '1'},
	  	events: {'onStateChange': 'playNextVideo'}
	  });

		$(function() {
	    window.WatchPage = new WatchView({
	    	"categories": <%= @categories.to_json.html_safe -%>,
	    	"playlistId": <%= @playlist.id %>
	    });
		});

		var newCommentField = document.getElementById('new-comment-input');
		if (newCommentField != null) {
			newCommentField.onkeypress = function(event) {
				newComment(event, this);
			}
		}

		var upvote = document.getElementById('video-upvote-button');
		var downvote = document.getElementById('video-downvote-button');

		if (upvote != null) {
			upvote.onclick = function(event) {
				voteCurrentVideo(1);
			}
		}
		if (downvote != null) {
			downvote.onclick = function(event) {
				voteCurrentVideo(-1);
			}
		}
	}
</script>
