<!--
Put a view for viewing the video
<%= render :partial => 'watch/watch_video', :locals => {:video => @playlist.videos[0]} %>
Scroll menu for current playlist
<%= render :partial => 'watch/show_playlist_scroll', :locals => {:playlist => @playlist, 
																										:current => @playlist.videos[0]} %>
-->
<% provide(:title, "Watch") %>
<div id="watch-root">
  <div id="player-container">
		<div id="video-player">
		</div>
	</div>
	<div id="playlists-container">
		Playlists:
		<div id="playlist-results">
		</div>
	</div>
	<div id="playlist-container">
	  <div id="video-results-container">
	    <div id="video-results">
  		</div>
	  </div>
	</div>
</div>

<script>
	// Taken from https://developers.google.com/youtube/player_parameters
	// Load the IFrame Player API code asynchronously.
	/*
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/player_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	*/

	// Replace the 'video-player' element with an <iframe> and
	// YouTube player after the API code downloads.
	function onYouTubePlayerAPIReady() {
	  player = new YT.Player('video-player', {
	    height: '390',
	    width: '640',
	    videoId: '<%= @video.site_code %>',
	    playerVars: {'autoplay': '1', 'enablejsapi': '1'},
	  	events: {'onStateChange': 'playNextVideo'}
	  });
	}
</script>
