<div class="comment-element-template">
	<div class="comment-user">User: <%= user %></div>
	<div class="comment-timestamp">At: <%= timestamp %></div>
	<div class="comment-text">Comment: <%= comment %></div>
</div>