<div class="playlist-info">
  <div class="color-hover"></div>
  <div class="playlist-name"><%= name %></div>
  <div class="cell-buttons">
    <a href="#/<%= id %>/edit" class="edit-button" alt="Edit Playlist">Edit</a>
    <a href="#/<%= id %>/destroy" class="destroy-button" alt="Delete Playlist">delete</a>
  </div>
</div>