<div class="playlist-cell-template">
	<div class="playlist-info-container">
		<div class="playlist-name" id="playlist-name<%= id %>"><%= name %></div>
		<div class="playlist-creator"><%= user.name %></div>
	</div>
</div>