<div class="playlist-rating-cell-template">
	<div class="playlist-rating-container">
		<div class="playlist-rating-user">User: <%= user %></div>
		<div class="playlist-rating-rating">Rating: <%= rating %></div>
		<div class="playlist-rating-comment">Comment: <%= comment %></div>
	</div>
</div>