<div class="playlist-rating-cell-template">
	<div class="playlist-rating-container">
		<div class="playlist-rating-user"><%= user %></div>
		<div class="playlist-rating-comment"><%= comment %></div>
		<div class="playlist-rating-rating"><%= rating %> stars</div>
	</div>
</div>