<div class="playlist-cell-template">
	<div class="playlist-info-container" onmouseover="highlightPlaylistName(<%= id %>)" onmouseout="unhighlightPlaylistName(<%= id %>)">
		<div class="playlist-name" id="playlist-name<%= id %>"><%= name %></div>
	</div>
</div>