// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video-search-bar {
  width: 60%;
  height: 40px;
}

.playlist-cell-container:hover {
  background-color: #EEEEEE;
}

.video-cell-template:hover {
  opacity: .6;
}

div.search-result-container {
  float: left;
}

.video-duration, .video-view-count, .video-author {
  display: none;
}

.video-cell-container {
  margin-bottom: 16px;
  height: 56px;
  font-size: 14px;
  cursor: pointer;
  .video-thumbnail {
    width: 120px;
    height: 56px;
    overflow: hidden;
    float: left;
    img {
      margin-top: -14px;
    }
  }
  .video-info {
    float: left;
    width: 190px;
    .video-name {
      height: 56px;
      padding-left: 6px;
    }
    .video-upvote {
      cursor: pointer;
      position: relative;
      float: right;
      margin-top: -32px;
      margin-right: -8px;
      background-image:url('/images/uv.png');
      color: transparent;
      height: 12px;
      width: 10px;
    }
    .video-downvote {
      cursor: pointer;
      position: relative;
      float: right;
      margin-top: -18px;
      margin-right: -8px;
      background-image:url('/images/dv.png');
      color: transparent;
      height: 12px;
      width: 10px;
    }
  }
  .video-cell-options {
    cursor: pointer;
    position: relative;
  }
  &:hover {
    background-color: #EEEEEE;
  }
}

#search-container {
  background-color: white!important;
  overflow-y: scroll!important;
  overflow-x: hidden!important;
  float: left;
  height: 550px;
  width: 600px;
  background-color: lightblue;
  overflow: scroll;
  z-index: 52;
}

.search-cell-template {
  float: left
}

.search-result-container {
  float: left;
  width: 120px;
  margin: 0 16px 16px 0;
  height: 95px;
}

.video-info-container {
  margin-top: -93px!important;
}

.search-cell-template {

}

.thumb-container img{
  cursor: pointer;
}

.preview-video {
  margin-top: -70px!important;
  margin-left: 40px;
}

#playlists-container {
  background-color: transparent!important;
}

img.preview-video {
  # margin-top: 18px;
  # position: relative;
  # opacity: 0.5;
  # float: left;
  # pointer-events: none;
  display: none;
}

#preview-modal-container {
  height: 499px;
}

#preview-container {
  position: relative;
  top: -444px;
  left: 87px;
  z-index: 51;
  display: none;
}

#playlists-title {
  text-indent: 4px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

#videos-container {
  margin-top: 8px;
  background-color: white!important;
  border-left: 1px solid #EEEEEE;
}

#preview-close {
  position: relative;
  top: -375px;
  left: 429px;
  color: #515151;
  font-size: 18px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#preview-close:hover {
  color: #00B4FF;
}

#create-playlist-container {
  display: none;
  font-size: 16px;
  margin-top: -12px;
  text-indent: 2px;
}

#confirm-playlist-delete {
  display: none;
}

.playlist-cell-container {
  margin-bottom: 6px;
}

#create-playlist-button {
  border: none;
  background-color: transparent;
  color: #00B4FF;
  text-indent: -6px;
  font-size: 16px;
  margin-bottom: 4px;
}

#create-playlist-button:hover {
  text-decoration: underline;
}

.ui-dialog {
  background-color: white;
  border-top: 4px solid #EEEEEE;
  border-bottom: 4px solid #EEEEEE;
  left: 737px!important;
  width: 324px!important;
  top: -578px!important;
  .ui-dialog-titlebar-close {
    display: none;
  }
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
  .ui-dialog-buttonset {
    text-align: center;
    button {
      background-color: #EEEEEE;
      border: none;
      color: black;
      margin-bottom: 6px;
      text-align: center;
    }
    .ui-button {
      margin-right: 6px;
    }
  }
}

#playlists-root {
  #search-container {
    background-color: white!important;
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    float: left;
    height: 576px;
    width: 600px;
    overflow: scroll;
    z-index: 52;
    form#video-search-form {
      input#video-search-bar {
        width: 88%;
      }
    }
    #search-results {
      .search-result-container {
        float: left;
        width: 120px;
        margin-right: 26px;
        img.thumb-container {
          cursor: pointer;
          .preview-video {
            margin-top: -70px!important;
            margin-left: 40px;
            margin-top: 18px;
            position: relative;
            opacity: 0.5;
            float: left;
            pointer-events: none;
          }
        }
      }
    }
  }
  
  #playlists-videos-container {
    div#playlists-container {
      float: left;
      height: 550px;
      width: 340px;
      background-color: white;
      overflow-y: scroll;
      text-indent: 4px;
      font-size: 16px;
      margin-top: 8px;
      div#playlists {
        .playlist-cell-container {
          .playlist-info {
            .playlist-name {
            
            }
            .cell-buttons {
              float: right;
            }
          }
        }
        .droppable-hover.droppable-active {
            background-color: gray
        }
        .droppable-active {
          background-color: black
        }
      }
    }
    div#videos-container {
      div#videos {
        background-color: white;
        padding: 5px;
      }
    }
  }
  
  #preview-modal-container {
    #preview-container {
      position: relative;
      top: -444px;
      left: 87px;
      z-index: 51;
      #preview-close {
        position: relative;
        top: -375px;
        left: 415px;
      }
    }
    #preview-modal-backdrop {
      position: absolute;
      z-index: 50;
      display: none;
      background-color: #EEEEEE!important;
      width: 456px!important;
      height: 386px!important;
      margin-left: 73px!important;
      top: 175px!important;
      border-radius: 2px;
      border: 1px solid #CCCCCC;
      color: #EEEEEE;
    }
  }
}