// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#search-container {
  float: left;
  height: 550px;
  width: 600px;
  background-color: lightblue;
  overflow: scroll;
  z-index: 52;
}

#video-search-bar {
  width: 60%;
  height: 40px;
}

.playlist-cell-container:hover {
  background-color: #EEEEEE;
}

div#playlists-container {
  float: left;
  height: 550px;
  width: 340px;
  background-color: gray;
  overflow-y: scroll;
  text-indent: 4px;
  font-size: 16px;
  margin-top: 8px;
}

.video-cell-template:hover {
  opacity: .6;
}

div.search-result-container {
  float: left;
}

.video-duration, .video-view-count, .video-author {
  display: none;
}

#search-container {
  background-color: white!important;
  overflow-y: scroll!important;
  overflow-x: hidden!important;
}

.search-cell-template {
  float: left
}

.search-result-container {
  float: left;
  width: 120px;
  margin: 0 16px 16px 0;
  height: 95px;
}

.video-info-container {
  margin-top: -93px!important;
}

.search-cell-template {

}

.thumb-container img{
  cursor: pointer;
}

.preview-video {
  margin-top: -70px!important;
  margin-left: 40px;
}

#preview-modal-backdrop {
  background-color: #EEEEEE!important;
  width: 456px!important;
  height: 386px!important;
  margin-left: 73px!important;
  top: 175px!important;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  color: #EEEEEE;
}

#playlists-container {
  background-color: transparent!important;
}

img.preview-video {
  # margin-top: 18px;
  # position: relative;
  # opacity: 0.5;
  # float: left;
  # pointer-events: none;
  display: none;
}

#preview-modal-container {
  height: 499px;
}

#preview-container {
  position: relative;
  top: -444px;
  left: 87px;
  z-index: 51;
  display: none;
}

#playlists-title {
  text-indent: 4px;
  font-size: 20px;
}

#videos-container {
  margin-top: 8px;
  background-color: white!important;
}

#preview-close {
  position: relative;
  top: -375px;
  left: 429px;
  color: #515151;
  font-size: 18px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#preview-close:hover {
  color: #00B4FF;
}

#create-playlist-container {
  display: none;
}

.playlist-cell-container {
  margin-bottom: 6px;
}

#create-playlist-button {
  border: none;
  background-color: transparent;
  color: #00B4FF;
  text-indent: -6px;
  font-size: 16px;
  margin-bottom: 4px;
}

#create-playlist-button:hover {
  text-decoration: underline;
}

.ui-dialog {
  background-color: lightblue;
}

.droppable-hover.droppable-active {
  background-color: gray
}

.droppable-active {
  background-color: black
}