#user-badge {
  font-size: 20px;
  .stats {
    margin: 4px 0 4px 0;
    font-size: 16px;
  }
}

.feeds-container {
  .feed-container {
    margin-bottom: 10px;
    .feed-playlist, .feed-container {
      margin-top: 4px;
      color: #00B4FF;
      cursor: pointer;
      font-size: 16px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  h3 {
    font-size: 20px;
  }
}


