// Place all the styles related to the watch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#playlist-container {
  font-size: 20px;
}

#playlist-results {
  margin-top: 10px;
}

.playlist-result-container {
  margin-bottom: 6px;
  font-size: 16px;
}

.playlist-result-container:hover {
  background-color: #EEEEEE;
}

.video-result-container {
	float: left;
}

#category-container {
  table {
    width: 100%;
    margin-top: 4px;
    tbody {
      #category-nav-left {
        float: left;
        cursor: pointer;
        padding-left: 4px;
        &:hover {
          color: #00B4FF;
        }
      }
      #category-title {
        text-align: center;
      }
      #category-nav-right {
        float: right;
        cursor: pointer;
        padding-right: 4px;
        &:hover {
          color: #00B4FF;
        }
      }
    }
  }
}


#new-playlist-rating {
  input {
    background-color: #FAFAFA!important;
    color: #333333!important;
  }
}

#video-results-container {
  width: 940px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 130px;
  padding-top: 16px;
  border-top: 2px solid #EEEEEE;
  .video-cell-template {
    .video-votes-container {
      background: rgba(0, 0, 0, 0.3);
      position: relative;
      float: left;
      min-width: 54px;
      top: -28px;
      .video-votes {
        width: 14px;
        cursor: pointer;
      }
      .video-votes-count {
        color: white;
        line-height: 24px;
      }
      .video-votes, .video-votes-count {
        float: left;
        height: 24px;
        margin-left: 4px;
      } 
    }
  }
}

#video-results {
	width: 1600px;
	margin-top: 94px;
}

#player-container {
	float: left;
	#vote-buttons {
	  .btn {
	    height: 40px;
	    font-size: 14px;
	  }
	  #video-upvote-button {
	    width: 90px;
	    height: 40px;
	    background-image: url('/images/upvote-40px.png');
	    background-position:0% 50%;
	    background-repeat: no-repeat; 
	    text-indent: 27px;
	  }
	  #video-downvote-button {
	    width: 40px;
	    background-image: url('/images/downvote-40px.png');
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	  }
	}
}

#watch-root #playlists-container {
  border-top: 1px solid #EEEEEE;
  float: right;
  position: relative;
  top: -8px;
  width: 275px;
  background-color: white;
  height: 375px;
  overflow-y: scroll;
  border-left: 1px solid #EEEEEE;
	font-size: 16px;
}

#playlist-info-container {
  float: left;
  position: relative;
  top: -7px;
  margin-left: 27px;
  width: 275px;
  height: 368px;
  border: 1px solid #EEEEEE;
  font-size: 16px;
  text-indent: 4px;
  overflow-y: scroll;
  #playlist-description-container {
    #playlist-description-title {
      margin-top: 4px;
    }
    #playlist-description {
      text-indent: 0px!important;
      padding-left: 4px;
      margin-top: 6px;
    }
  }
  #playlist-ratings-container {
    #playlist-ratings {
      border-top: 1px solid #EEEEEE;
      .playlist-rating-cell-template {
        font-size: 14px;
        margin-left: 4px;
        color: #818181;
        .playlist-rating-container {
          min-height: 56px;
          border-bottom: 1px solid #EEEEEE;
          .playlist-rating-user {
            color: #00B4FF;
          }
          .playlist-rating-comment {
          
          }
          .playlist-rating-rating {
            font-size: 12px;
            float: right;
            margin-right: 6px;
          }
        }
      }
    }
    #new-playlist-rating {
      margin-top: 6px;
      form {
        #playlist-rating-rating {
          width: 80px;
          margin-top: 6px;
        }
        #playlist-rating-comment {
          width: 252px;
        }
        input {
          margin-left: 4px;
          width: 252px;
          &:hover {
            background: rgba(0, 0, 0, .1)!important;
          }
          &:active {
            -webkit-box-shadow: inset 0 0 4px #888;
          }
        }
      }
    }
  }
}

.playlist-cell-template {
  height: 40px;
  .color-hover {
    width: 4px;
    height: 100%;
    float: left;
  }
  .playlist-info-container {
    margin-left: 8px;
    .playlist-name {
    
    }
    .playlist-creator {
      font-size: 12px;
      color: #00B4FF;
    }
  }
  
}


.playlist-cell-template:hover {
  .color-hover {
    background-color:  #00B4FF;
  }
}

div#videos-container {
  float: left;
  height: 550px;
  width: 340px;
  background-color: gray;
  overflow: scroll;
  position: absolute;
  display: none;
  font-size: 16px;
}

.video-cell-template {
  width: 120px;
  height: 95px;
  margin-right: 24px;
  font-size: 14px;
}

.thumb-container {
  margin-top: -36px;
}

.video-info-container {
  position: relative;
  color: white;
  width: 120px;
  background: rgba(0, 0, 0, 0.3);
  .video-name {
    height: 34px;
  }
  .video-votes-container {
    .video-votes {
      cursor: pointer;
    }
  }
}

#tabs-container {
  float: left;
  width: 250px;
}

.ui-tabs-hide {
  display: none;
}

.comment-element-template {
  border: 1px solid black;
  text-indent: 4px;
}


#video-comments-container {
  float: right;
  position: relative;
  top: -9px;
  width: 275px;
  background-color: white;
  height: 375px;
  overflow-y: scroll;
  border: 1px solid #EEEEEE;
}

#video-comments {
   .video-comments-container {
     border-bottom: 1px solid #EEEEEE;
     height: 40px;
     .comment-element-template {
      border: none!important;
       .comment-user {
         color: #00B4FF;
       }
       .comment-timestamp {
         display: none;
       }
       .comment-text {
      
       }
     }
   }
 }

#tabs-container {
  height: 20px;
  width: 300px;
  float: right;
  ul {
    list-style: none;
    float: left;
    li {
      float: left;
      a {
        padding: 4px;
        border-top: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
      }
    }
  }
}