<div id="playlists-root">

  <div id="search-container">
    <form>
      <input type="text" id="video-search-bar"></input>
      <input type="button" value="Submit" id="video-search-submit"></input>
    </form>
    Search Results:
    <div id="search-results">
    </div>
  </div>

  <div id="playlists-container">
    Playlists:
    <div class="playlists">
    </div>
  </div>

  <div id="preview-modal-container">
    <div id="preview-modal">
      <div id="ytpreviewplayer" />
      <div id="vimeopreviewplayer" />
    </div>
    <div id="preview-close">
      XXXXX
    </div>
  </div>
</div>
