<% provide(:title, "Playlists") %>
<div id="playlists-root">

  <div id="search-container">
    <form id="video-search-form">
      <input type="text" id="video-search-bar" placeholder="search"></input>
    </form>
    Search Results:
    <div id="search-results">
    </div>
  </div>

  <div id="playlists-videos-container">
    <div id="playlists-title">
      Playlists
    </div>
    <div id="playlists-container">
      <button id="create-playlist-button">Create Playlist</button>
      <div id="create-playlist-container">
        Name:<br/>
        <input type="text" id="create-playlist-name"></input>
        Description:<br/>
        <textarea id="create-playlist-description" rows="3" cols="40"></textarea>
        <%= collection_select(:category, :id, @categories, :id, :name, options = {:prompt => "-Select a category"}, :class =>"category_dropdown") %>
      </div>
      <div id="playlists"></div>
      <div id="create-playlist-modal"></div>
    </div>
    <div id="videos-container">
      <div id="videos">
      </div>
    </div>
  </div>

  <div id="preview-modal-container">
    <div id="preview-container">
      <div id="preview-modal">
        <div id="ytpreviewplayer"></div>
        <div id="vimeopreviewplayer"></div>
      </div>
      <div id="preview-close">x</div>
    </div>
    <div id="preview-modal-backdrop"></div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    window.PlaylistCreationPage = new PlaylistCreationView();
  	var params = { allowScriptAccess: "always" };
  	var atts = { id: "myytpreviewplayer" };
  	swfobject.embedSWF("http://www.youtube.com/v/Bje_8Y7KUfM?enablejsapi=1&playerapiid=myytpreviewplayer&version=3", "preview-modal", "425", "356", "8", null, null, params, atts);
  	window.PlaylistCreationPage.previewView = new PreviewView();
  });
</script>